.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.headerMainSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#000000c4, #000000c4),
    url("/plasmic/copy_of_travel_website/images/roadG6F4064E2A1920Jpg.jpg") top 50% left 50% / cover repeat fixed;
  min-width: 0;
  padding: 0px;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  min-width: 0;
  padding: 0px;
}
.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px 16px 16px;
}
.menu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.menu > :global(.__wab_flex-container) > *,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menu > :global(.__wab_flex-container) > picture > img,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu {
    width: 100%;
    min-width: 0;
    padding: 4px 32px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.menuBar {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1130px;
  background: none;
  min-width: 0;
  padding: 25px 0px 0px;
}
.menuBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.menuBar > :global(.__wab_flex-container) > *,
.menuBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuBar > :global(.__wab_flex-container) > picture > img,
.menuBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuBar {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuBar > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuBar > :global(.__wab_flex-container) > *,
  .menuBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .menuBar > :global(.__wab_flex-container) > picture > img,
  .menuBar
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__qmtpX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 50px;
  filter: invert(100%);
  min-width: 0;
  min-height: 0;
}
.img__qmtpX > picture > img {
  object-fit: cover;
}
.freeBox___18F1A {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___18F1A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___18F1A > :global(.__wab_flex-container) > *,
.freeBox___18F1A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___18F1A > :global(.__wab_flex-container) > picture > img,
.freeBox___18F1A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___18F1A > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___18F1A > :global(.__wab_flex-container) > *,
  .freeBox___18F1A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___18F1A > :global(.__wab_flex-container) > picture > img,
  .freeBox___18F1A
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__h7GKc {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__h7GKc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__h7GKc > :global(.__wab_flex-container) > *,
.link__h7GKc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__h7GKc > :global(.__wab_flex-container) > picture > img,
.link__h7GKc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__h7GKc {
    padding: 0px;
  }
}
.svg___0Dysz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___0RPIa {
  color: var(--token-xGE4V1yopcrH);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0RPIa {
    color: var(--token-xGE4V1yopcrH);
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 13px;
  }
}
.svg__mQam1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__sp9M2 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__sp9M2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__sp9M2 > :global(.__wab_flex-container) > *,
.link__sp9M2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__sp9M2 > :global(.__wab_flex-container) > picture > img,
.link__sp9M2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__sp9M2 {
    padding: 0px;
  }
}
.svg__jc1Yg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__mrnqm {
  color: var(--token-xGE4V1yopcrH);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mrnqm {
    font-size: 13px;
  }
}
.svg___0KxO2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__mkbWy {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__mkbWy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__mkbWy > :global(.__wab_flex-container) > *,
.link__mkbWy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__mkbWy > :global(.__wab_flex-container) > picture > img,
.link__mkbWy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__mkbWy {
    padding: 0px;
  }
}
.svg__wX2Qy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__bblDw {
  color: var(--token-xGE4V1yopcrH);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bblDw {
    font-size: 13px;
  }
}
.svg__tgFyg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__kvEK {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__kvEK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__kvEK > :global(.__wab_flex-container) > *,
.link__kvEK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__kvEK > :global(.__wab_flex-container) > picture > img,
.link__kvEK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__kvEK {
    padding: 0px;
  }
}
.svg__u3Ncf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__wEqT {
  color: var(--token-xGE4V1yopcrH);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wEqT {
    color: var(--token-xGE4V1yopcrH);
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 13px;
  }
}
.svg__xaYlA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__dh2Yy {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__dh2Yy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__dh2Yy > :global(.__wab_flex-container) > *,
.link__dh2Yy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__dh2Yy > :global(.__wab_flex-container) > picture > img,
.link__dh2Yy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__dh2Yy {
    padding: 0px;
  }
}
.svg__gVdlb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__odFub {
  color: var(--token-xGE4V1yopcrH);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__odFub {
    font-size: 13px;
  }
}
.svg__wkgmv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___7Dv7S {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___7Dv7S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___7Dv7S > :global(.__wab_flex-container) > *,
.link___7Dv7S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___7Dv7S > :global(.__wab_flex-container) > picture > img,
.link___7Dv7S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___7Dv7S {
    padding: 0px;
  }
}
.svg__mEvi5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__eRdF1 {
  color: var(--token-xGE4V1yopcrH);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eRdF1 {
    font-size: 13px;
  }
}
.svg__p1Hrc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__b0GxT {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 52px 16px 53px;
}
.freeBox__b0GxT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__b0GxT > :global(.__wab_flex-container) > *,
.freeBox__b0GxT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b0GxT > :global(.__wab_flex-container) > picture > img,
.freeBox__b0GxT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b0GxT {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b0GxT > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.columns__rQ8Jq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1225px;
  background: none;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__rQ8Jq > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rQ8Jq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background: none;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rQ8Jq > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___4YUys {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: url("/plasmic/copy_of_travel_website/images/image.png") top 50% left 50% / contain no-repeat;
  min-width: 0;
}
.freeBox__zjhzX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  right: auto;
  z-index: 22;
  min-width: 0;
  padding: 168px 8px;
}
.freeBox__zjhzX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__zjhzX > :global(.__wab_flex-container) > *,
.freeBox__zjhzX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zjhzX > :global(.__wab_flex-container) > picture > img,
.freeBox__zjhzX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.h1 {
  width: 801px;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-xGE4V1yopcrH);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 48px;
  }
}
.freeBox__xfCeO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.section1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1130px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 33px 8px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    padding-bottom: 27px;
    padding-left: 0px;
  }
}
.columns__mJxOi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__mJxOi > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__mJxOi > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mJxOi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mJxOi > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__w24K9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.youTube:global(.__wab_instance) {
  height: 320px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.column__txwEe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.rowContainer8 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 880px;
  min-width: 0;
  padding: 8px;
}
.rowContainer8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-top: calc(0px - 18px);
  height: calc(100% + 18px);
}
.rowContainer8 > :global(.__wab_flex-container) > *,
.rowContainer8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rowContainer8 > :global(.__wab_flex-container) > picture > img,
.rowContainer8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 18px;
}
.freeBox__kn0K6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 63px;
  min-width: 0;
  padding: 8px;
}
.h2__ahzAq {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__ahzAq {
    font-size: 25px;
  }
}
.text__izTfw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  margin-right: 2px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__izTfw {
    font-size: 14px;
    padding-top: 14px;
  }
}
.text___3RWwg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.brownColorBg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  flex-wrap: wrap;
  background: linear-gradient(#667668cc, #667668cc),
    url("/plasmic/copy_of_travel_website/images/image2.png") top 0% left 50% / cover repeat;
  min-width: 0;
  padding: 67px 8px 63px;
}
.section12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gljVq {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.rowContainer3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1100px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__aOlC {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 950px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__aOlC > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__aOlC > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aOlC {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aOlC > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__o3Poq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__d3Ydx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 415px;
  width: 100%;
  filter: none;
  flex-shrink: 0;
}
.img__d3Ydx > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__d3Ydx {
    height: 230px;
    flex-shrink: 0;
  }
}
.column__hqgAe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #3e3e3e80;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hqgAe {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__pKr7W {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
  margin: 0px;
}
.freeBox__pKr7W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__pKr7W > :global(.__wab_flex-container) > *,
.freeBox__pKr7W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pKr7W > :global(.__wab_flex-container) > picture > img,
.freeBox__pKr7W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pKr7W {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pKr7W > :global(.__wab_flex-container) {
    align-content: center;
    justify-content: flex-start;
  }
}
.h2__sl665 {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-xGE4V1yopcrH);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__sl665 {
    font-size: 25px;
    text-align: left;
  }
}
.text__j6TP1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-xGE4V1yopcrH);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j6TP1 {
    font-size: 14px;
  }
}
.button___8SuCo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 154px;
  height: 47px;
  flex-shrink: 0;
  display: none;
}
.svg__pMXlf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__sa99 {
  color: var(--token-5c6doO4axGwi);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.svg__xjGs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__gaenE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fYLpZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yXy2W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section13 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__azuD {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.rowContainer9 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1100px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__jAtOi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  max-width: 950px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__jAtOi > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__jAtOi > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jAtOi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jAtOi > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ei1Jp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__ngitm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  transform: none;
  height: 415px;
  width: 100%;
  flex-shrink: 0;
}
.img__ngitm > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ngitm {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    height: 230px;
    flex-shrink: 0;
  }
}
.column__isoxX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #3e3e3e80;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__isoxX {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__pDovo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
  margin: 0px;
}
.freeBox__pDovo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__pDovo > :global(.__wab_flex-container) > *,
.freeBox__pDovo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pDovo > :global(.__wab_flex-container) > picture > img,
.freeBox__pDovo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pDovo {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pDovo > :global(.__wab_flex-container) {
    align-content: center;
    justify-content: flex-start;
  }
}
.h2___5Ntkt {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-xGE4V1yopcrH);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___5Ntkt {
    font-size: 25px;
    text-align: left;
  }
}
.text___1MAf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-xGE4V1yopcrH);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1MAf {
    font-size: 14px;
  }
}
.button__shgVu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kgGf4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__aam2D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___2Nw8W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 154px;
  height: 47px;
  flex-shrink: 0;
  display: none;
}
.svg__qUc2V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6Ir0 {
  color: var(--token-5c6doO4axGwi);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.svg__bP1Tb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section14 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pd2NR {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.rowContainer10 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1100px;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__bEzc1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 950px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__bEzc1 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__bEzc1 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bEzc1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bEzc1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7986B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__rLpw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  filter: none;
  height: 415px;
  width: 100%;
  flex-shrink: 0;
}
.img__rLpw > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__rLpw {
    height: 230px;
    flex-shrink: 0;
  }
}
.column__ur8Tz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #3e3e3e80;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ur8Tz {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox___5BIl {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
  margin: 0px;
}
.freeBox___5BIl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___5BIl > :global(.__wab_flex-container) > *,
.freeBox___5BIl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5BIl > :global(.__wab_flex-container) > picture > img,
.freeBox___5BIl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5BIl {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5BIl > :global(.__wab_flex-container) {
    align-content: center;
    justify-content: flex-start;
  }
}
.h2__wisnb {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-xGE4V1yopcrH);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__wisnb {
    font-size: 25px;
    text-align: left;
  }
}
.text__iBw9O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-xGE4V1yopcrH);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iBw9O {
    font-size: 14px;
  }
}
.button__pvOqi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__q2VCy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lh972 {
  margin-top: 0px;
}
.svg__pnlRx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__zxWB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 154px;
  height: 47px;
  flex-shrink: 0;
  display: none;
}
.svg__m6Oad {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0GkVz {
  color: var(--token-5c6doO4axGwi);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.svg__qhXvN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__yKoX {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 54px 8px 9px;
}
.freeBox___5L5QI {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
.freeBox___5L5QI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 44px);
  width: calc(100% + 44px);
}
.freeBox___5L5QI > :global(.__wab_flex-container) > *,
.freeBox___5L5QI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5L5QI > :global(.__wab_flex-container) > picture > img,
.freeBox___5L5QI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 44px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5L5QI > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.columns__ymEq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__ymEq > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
}
.columns__ymEq > :global(.__wab_flex-container) > *,
.columns__ymEq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ymEq > :global(.__wab_flex-container) > picture > img,
.columns__ymEq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.columns__ymEq > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ymEq > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ymEq {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ymEq > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ymEq > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ttAu8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__cw6Yo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 434px;
  align-self: flex-end;
  filter: brightness(65%);
  min-width: 0;
  flex-shrink: 0;
}
.img__cw6Yo > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__cw6Yo {
    max-width: none;
  }
}
.h2__fr4CG {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  bottom: 40%;
  background: #31313161;
  color: var(--token-xGE4V1yopcrH);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__fr4CG {
    font-size: 30px;
  }
}
.column___8JHtg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__moPAd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 434px;
  align-self: flex-start;
  filter: brightness(75%);
  min-width: 0;
  flex-shrink: 0;
}
.img__moPAd > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__moPAd {
    max-width: none;
  }
}
.h2__ohDez {
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  background: #31313161;
  bottom: 40%;
  color: var(--token-xGE4V1yopcrH);
  padding: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__ohDez {
    font-size: 30px;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.freeBox__ywAaz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 48px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ywAaz {
    padding-top: 35px;
  }
}
.columns___96VrZ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns___96VrZ > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___96VrZ > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___96VrZ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___96VrZ > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___04C5R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #393434;
  min-width: 0;
  padding: 85px 19px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___04C5R {
    padding: 30px;
  }
}
.freeBox__t37NO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 545px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__t37NO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__t37NO > :global(.__wab_flex-container) > *,
.freeBox__t37NO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t37NO > :global(.__wab_flex-container) > picture > img,
.freeBox__t37NO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.h2__cPuB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-xGE4V1yopcrH);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__cPuB {
    font-size: 24px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cbA1J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uljVk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__vFnAn:global(.__wab_instance) {
  max-width: none;
  position: relative;
  align-self: flex-start;
  margin-top: calc(0px + 30px) !important;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.svg__veMd8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wisbt {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  color: var(--token-xGE4V1yopcrH);
}
.svg__ysixs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__pbqae {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-bottom: 85px;
  padding-top: 85px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#151615cf, #151615cf),
    url("/plasmic/copy_of_travel_website/images/frost67925491920Jpg2.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pbqae {
    padding: 30px;
  }
}
.freeBox__i379M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 545px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__i379M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__i379M > :global(.__wab_flex-container) > *,
.freeBox__i379M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i379M > :global(.__wab_flex-container) > picture > img,
.freeBox__i379M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.h2__aPhN8 {
  position: relative;
  width: 100%;
  height: 33px;
  max-width: 800px;
  padding-bottom: 26px;
  padding-top: 0px;
  text-align: center;
  color: var(--token-xGE4V1yopcrH);
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__aPhN8 {
    font-size: 24px;
  }
}
.text__gEUZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-xGE4V1yopcrH);
  text-align: center;
  min-width: 0;
}
.text__pZb76 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-xGE4V1yopcrH);
  text-align: center;
  min-width: 0;
}
.text__c5Av {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  text-align: center;
  color: var(--token-xGE4V1yopcrH);
  min-width: 0;
}
.freeBox__dr3Up {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  min-width: 0;
  padding: 8px;
}
.freeBox__fjeuK {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 50px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fjeuK {
    height: 100%;
    min-height: 0;
    padding: 23px 21px;
  }
}
.freeBox__oZeBw {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__oZeBw > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__oZeBw > :global(.__wab_flex-container) > *,
.freeBox__oZeBw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oZeBw > :global(.__wab_flex-container) > picture > img,
.freeBox__oZeBw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oZeBw {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oZeBw > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oZeBw > :global(.__wab_flex-container) > *,
  .freeBox__oZeBw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oZeBw > :global(.__wab_flex-container) > picture > img,
  .freeBox__oZeBw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__wQFi {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__wQFi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__wQFi > :global(.__wab_flex-container) > *,
.freeBox__wQFi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wQFi > :global(.__wab_flex-container) > picture > img,
.freeBox__wQFi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__mceoH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
}
.freeBox__mceoH > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__mceoH > :global(.__wab_flex-container) > *,
.freeBox__mceoH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mceoH > :global(.__wab_flex-container) > picture > img,
.freeBox__mceoH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mceoH > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mceoH > :global(.__wab_flex-container) > *,
  .freeBox__mceoH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mceoH > :global(.__wab_flex-container) > picture > img,
  .freeBox__mceoH
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.freeBox__aufl {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__aufl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__aufl > :global(.__wab_flex-container) > *,
.freeBox__aufl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aufl > :global(.__wab_flex-container) > picture > img,
.freeBox__aufl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.link__lkSek {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lkSek {
    text-align: center;
    font-size: 13px;
  }
}
.link__gr4Lv {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__gr4Lv {
    text-align: center;
    font-size: 13px;
  }
}
.link__mosbL {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__mosbL {
    text-align: center;
    font-size: 13px;
  }
}
.link__aoEcw {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__aoEcw {
    text-align: center;
    font-size: 13px;
  }
}
.freeBox___8VSw2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  margin-top: calc(0px + 30px) !important;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.freeBox___8VSw2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___8VSw2 > :global(.__wab_flex-container) > *,
.freeBox___8VSw2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8VSw2 > :global(.__wab_flex-container) > picture > img,
.freeBox___8VSw2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8VSw2 {
    margin-top: calc(10px + 10px) !important;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.link___8Pc7C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__vKrNy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.link___0Jkhy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__ocTzS {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.link__w4Voy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__hNtRf {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.blockquote {
  text-align: center;
}
